@charset "utf-8";

#notice{
    background: #e9f4e9; /* Old browsers */
    background: -moz-linear-gradient(top, #e9f4e9 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e9f4e9 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e9f4e9 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f4e9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#notice .frame{
    width: 1200px;
    padding: 100px 0;
    margin: 0 auto;
}
#notice .frame .post_wrap{
    display: flex;
    flex-wrap: wrap;
}
#notice .frame .post_wrap .post{
    width: calc(25% - 20px);
    margin: 0 10px 30px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
}
#notice .frame .post_wrap .post:hover{
    box-shadow: 0 0 10px rgba(40, 49, 40, 0.3);
    transition: box-shadow 0.2s;
}
#notice .frame .post_wrap .post .img{
    width: 100%;
    height: 260px;
    background-color: #eee;
    background-size: cover;
    background-position: 50% 50%;
}
#notice .frame .post_wrap .post:nth-child(6) .img{background-image: url(../img/notice_01.jpg);}
#notice .frame .post_wrap .post:nth-child(5) .img{background-image: url(../img/notice_02.jpg);}
#notice .frame .post_wrap .post:nth-child(4) .img{background-image: url(../img/notice_03.jpg);}
#notice .frame .post_wrap .post:nth-child(3) .img{background-image: url(../img/notice_04.jpg);}
#notice .frame .post_wrap .post:nth-child(2) .img{background-image: url(../img/notice_05.jpg);}
#notice .frame .post_wrap .post:nth-child(1) .img{background-image: url(../img/notice_06.jpg);}
#notice .frame .post_wrap .post .txt{
}
#notice .frame .post_wrap .post .txt h4{
    font-size: 18px;
    line-height: 40px;
}
#notice .frame .post_wrap .post .txt p{
    font-size: 14px;
    color: #aaa;
    text-align: right;
}
#notice .frame .page{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
#notice .frame .page li{
    margin: 0 5px;
}
#notice .frame .page li span{
    font-size: 16px;
    color: #999;
}
#notice .frame .page li.active span{
    color: var(--pri-color);
}