@charset "utf-8";

#regist{
    padding: 100px 0;
    background: #e9f4e9; /* Old browsers */
    background: -moz-linear-gradient(top, #e9f4e9 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e9f4e9 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e9f4e9 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f4e9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#regist .frame{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#regist .frame .regist_box{
    max-width: 600px;
    width: 100%;
    padding: 20px 60px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#regist .frame .regist_box h2{
    font-size: 34px;
    letter-spacing: 8px;
    font-weight: normal;
    text-align: center;
    color: var(--pri-color);
    padding: 10px 0 50px;
}
#regist .frame .regist_box p{
    width: 300px;
    word-break: keep-all;
    font-size: 16px;
    text-align: center;
    color: #777;
    padding-bottom: 40px;
}
#regist .frame .regist_box form{}
#regist .frame .regist_box form > div{
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#regist .frame .regist_box form .id{
    border-radius: 10px 10px 0 0;
}
#regist .frame .regist_box form .id > input{
    width: calc(100% - 210px);
}
#regist .frame .regist_box form .id > button{
    width: 80px;
    height: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    background-color: var(--pri-color);
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}
#regist .frame .regist_box form .email span{
    width: 20px;
    text-align: center;
    color: var(--pri-color);
}
#regist .frame .regist_box form .email [name$="1"]{
    width: 140px;
}
#regist .frame .regist_box form .email [name$="2"]{
    width: calc(100% - 280px);
}
#regist .frame .regist_box form .phone span{
    width: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 40px;
}
#regist .frame .regist_box form .phone input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
#regist .frame .regist_box form .phone [name$="1"]{
    width: 80px;
}
#regist .frame .regist_box form .phone [name$="2"],
#regist .frame .regist_box form .phone [name$="3"]{
    width: calc(50% - 240px / 2);
}

/* label / input 공통 */
#regist .frame .regist_box form label{
    width: 120px;
    color: var(--pri-color);
}
#regist .frame .regist_box form input{
    width: calc(100% - 120px);
    height: 100%;
    padding: 0 10px;
    outline: none;
    border: 1px solid var(--sec1-color);
    border-radius: 3px;
    background-color: transparent;
    color: var(--pri-color);
    font-size: 16px;
}
#regist .frame .regist_box form input::placeholder{
    color: #999;
    font-size: 14px;
    letter-spacing: 2px;
}
#regist .frame .regist_box form > button{
    display: block;
    width: 280px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    border: none;
    background-color: var(--pri-color);
    border-radius: 3px;
    margin: 50px auto 20px;
}
#regist .frame .regist_box form button:hover{
    background-color: var(--sec1-color);
    transition: background-color 0.2s;
}
#regist .frame .regist_box a{
    display: block;
    padding-bottom: 20px;
    font-size: 16px;
    color: #555;
}
#regist .frame .regist_box a:hover{
    transition: color 0.2s;
    color: var(--sec1-color);
}