@charset "utf-8";

#store_map{
    background: #e9f4e9; /* Old browsers */
    background: -moz-linear-gradient(top, #e9f4e9 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e9f4e9 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e9f4e9 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f4e9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#store_map .frame{
    width: 1200px;
    padding: 100px 10px;
    margin: 0 auto;
}
#store_map .frame h2{
    font-size: 28px;
    text-align: center;
    color: var(--pri-color);
    padding-bottom: 40px;
}
#store_map .frame .search_box{
    width: 32%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid var(--pri-color);
    border-radius: 20px;
    background-color: var(--pri-color);
}
#store_map .frame .search_box input{
    width: calc(100% - 80px);
    height: 40px;
    padding-left: 20px;
    outline-color: var(--pri-color);
    border: none;
    border-radius: 20px 0 0 20px;
    font-size: 16px;
    color: var(--pri-color);
}
#store_map .frame .search_box button{
    width: 80px;
    height: 40px;
    border-radius: 0 20px 20px 0;
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: var(--pri-color);
}
#store_map .frame .map{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
#store_map .frame .map .left{
    width: 50%;
}
#store_map .frame .map .left #map_svg{
    padding: 0 160px;
}
#store_map .frame .map .left #map_svg path{
    fill:#619B6C;
}
#store_map .frame .map .left #map_svg path:hover,
#store_map .frame .map .left #map_svg path.active{
    fill:var(--pri-color);
    transition: fill 0.2s;
    cursor: pointer;
}
#store_map .frame .map .right{
    width: 50%;
}
#store_map .frame .map .right ul{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#store_map .frame .map .right ul li{
    width: calc(100% / 3 - 10px);
    margin: 10px 5px;
}
#store_map .frame .map .right ul li p{
    width: 100%;
    line-height: 38px;
    border: 1px solid var(--pri-color);
    border-radius: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
#store_map .frame .map .right ul li:hover p{
    background-color: var(--pri-color);
    color: #fff;
    transition: background-color 0.2s, color 0.2s;
}
#store_map .frame .store_list{
    padding-top: 40px;
}
#store_map .frame .store_list ul{}
#store_map .frame .store_list ul li{
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
#store_map .frame .store_list ul li:first-child{
    border-top: 1px solid var(--pri-color);
    border-bottom: 1px solid var(--pri-color);
}
#store_map .frame .store_list ul li span{
    padding: 0 10px;
    text-align: center;
}
#store_map .frame .store_list ul li:first-child span{}
#store_map .frame .store_list ul li span.field1{
    width: 260px;
}
#store_map .frame .store_list ul li span.field2{
    width: 260px;
    text-align: center;
}
#store_map .frame .store_list ul li span.field3{
    width: calc(100% - 520px);
}